li {
  font-size: 18px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 7px;
  float: left;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
#currency-rates-table {
  color: #ffffff;
  margin-right: 5px;
}
#currency-rates-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#currency-rates-table ul.columns {
  color: #aac8df;
  font-size: 14px;
  clear: both;
  overflow: hidden;
  width: 32%;
}
#currency-rates-table ul.columnsheader {
  margin-bottom: 0px;
  padding-right: 0px;
  font-family: 'whitney-light';
}
