.currencyImg {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: red;
}
.appElem{
	overflow: hidden;
	.active-no{
		display: none;
	}
	transition: all 600ms ease;
	.page1{}
	
	.page3{}	
}