.currencyImg {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
}
.appElem {
  overflow: hidden;
  transition: all 600ms ease;
}
.appElem .active-no {
  display: none;
}
