.parrentBlock {
  background-color: #f0f0f0;
}
.parrentBlock h3 {
  border-bottom: 0px solid;
}
.parrentBlock .dpTabButtons {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
.parrentBlock .dpTabButtons .button {
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  border: 1px solid transparent;
  text-align: center;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  transition: background-color 150ms linear, color 150ms linear;
  width: 50%;
  border-color: #0072bc;
}
.parrentBlock .dpTabButtons .button.left {
  border-radius: 5px 0 0 5px;
  border-right: none;
  float: left;
}
.parrentBlock .dpTabButtons .button.right {
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.parrentBlock .dpTabButtons .button.selected {
  background-color: #0072bc;
  color: #ffffff;
  cursor: default;
}
